{% extends 'base.html' %}
{% block content %}

<div class="content">
<pre>
软件测试选择题
以下那个是黑盒测试的测试方法（C ）
①测试用例覆盖 ②输出覆盖 ③输入覆盖 ④分支覆盖 ⑤语句覆盖 ⑥条件覆盖
A、①⑤⑥ B、②③④ C、①②③ D、④⑤⑥

QQ账号▼ 对此输入进行测试，不会用到的测试方法是（B）
A、等价类划分方法 B、边界值分析方法
C、因果图方法 D、错误推测法

在TCP协议中，采用（B）来区分不错不用的成用进程。
A、IP地址 B、端口号 C、协议类型 D、MAC地址

系统产生死锁的原因是（ B ）
A、一个进程进入死循环 B、多个进程竞争，资源出现了循环等
C、进程释放资源 D、多个进程竞争共享型设备

关于软件测试的说法（C）是不正确的。
A、代码审查是代码检查的一种，是由程序员和测试员组成一个审查小组，通过阅读、讨论和争议，对程序进行静态分析的过程。
B、软件测试的对象不仅仅是程序，文档、数据和规程都是软件测试的对象。
C、白盒测试划通过对程序内部结构的分析、检测来寻找问题的测试方法。
D、单元测试是针对软件设计的最小单位—程序模块进行正确性检验的测试工作，它通常需要开发桩模块作为主程序调用被测模块来完成测试。

1、 进行软件质量管理的重要性有：（ABCD）【中级】
A、维护降低成本 B、法律上的要求 C、市场竞争的需要
D、质量标准化的趋势 E、软件工程的需要 F、CMM过程的一部分
G、方便与客户进一步沟通为后期的实施打好基础
2、以测试的形态分测试可以分为：（ABC）【中级】
A、建构性测试 B、系统测试 C、专项测试
D、单元测试 E、组件测试 F、集成测试
3、选出属于黑盒测试方法的选项（ABC）【初级】
A、测试用例覆盖 B、输入覆盖 C、输出覆盖
D、分支覆盖 E、语句覆盖 F、条件覆盖
4、编写测试计划的目的是：（ABC）【中级】
A、使测试工作顺利进行 B、使项目参与人员沟通更舒畅 C、使测试工作更加系统化
D、软件工程以及软件过程的需要 E、软件过程规范化的要求 F、控制软件质量
5、依存关系有4种分别是：（ABCD）【高级】
A、开始－结束 B、开始－开始 C、结束－开始
D、结束－结束 E、开始－实施－结束 F、结束－审核－开始
6、软件质量管理（QM）应有质量保证（QA）和质量控制（QC）组成，下面的选项属于QC得是：（ABC）【高级】
A、测试 B、跟踪 C、监督
D、制定计划 E、需求审查 F、程序代码审查
7、实施缺陷跟踪的目的是：（ABCD）【中级】
A、软件质量无法控制 B、问题无法量化 C、重复问题接连产生
D、解决问题的知识无法保留 E、确保缺陷得到解决 F、使问题形成完整的闭环处理
8、使用软件测试工具的目的：（ABC）【中级】
A、帮助测试寻找问题 B、协助问题的诊断 C、节省测试时间
D、提高Bug的发现率 E、更好的控制缺陷提高软件质量 F、更好的协助开发人员
9、典型的瀑布模型的四个阶段是：（ABCD）【高级】
A、分析 B、设计 C、编码
D、测试 E、需求调研 F、实施
10、PSP是指个人软件过程 ，是一种可用于（ A ）、（ B ）和（ C ）个人软件工作方式的自我改善过程。【高级】
A、控制 B、管理 C、改进
D、高效 E、充分 F、适宜

第1题：在体系结构中，一个子系统主要是通过一些构件来实现的，下面不是实现子系统的构件的是 ( 正确C )
A.界面构件 B.业务构件 C.用于用户传递的构件 D.访问数据库构件
第2题：下列不属于系统模块等级的是 ( 正确D )
A.高危模块 B.一般模块 C.低危模块 D.缺陷模块
第3题：下列不属于关键模块具有的特性的是 ( 正确A )
A.处于程序控制结构的底层 B.本身是复杂的或是容易出错的 C.含有确定的性能需求 D.被频繁使用的模块
第4题：在集成测试的过程中需要考虑软件相关方面的平衡，下面选项中不需要在测试过程中予以考虑的是 ( 正确B )
A.开发成本 B.测试方法 C.进度 D.质量
第5题：在集成测试用例设计的过程中，要满足的基本要求是 ( 正确C )
A.保证测试用例的正确性 B.保证测试用例能无误的完成测试项的既定的测试目标 C.保证测试用例的简单性 D.保证测试用例能满足相应的覆盖率要求
第6题：下面有关渐增式集成和非渐增式集成测试的说法中错误的是 ( 正确B )
A.非渐增式集成测试方法把单元测试和集成测试分为两个不同的阶段，而渐增式集成测试方法往往把单元测试和集成测试合在一起同时完成 B.渐增式集成需要较多的工作量，而非渐增式集成需要的工作量较少 C.渐增式集成可以较早的发现接口错误，非渐增式集成直到最后组装时才能发现接口上的问题 D.渐增式集成有利于排错，发现的错误往往和最后加入的模块有关。而非渐增式集成发现接口错发现接口错误较迟且很难判断是哪一部分接口出错
第7题：为了提高测试的效率，正确的做法是 ( 正确A )
A)选择发现错误可能性大的数据作为测试用例 B)随机选取测试用例 C)取一切可能的输入数据作为测试用例 D)在完成程序的编码之后再制定软件的测试计划
第8题：使用白盒测试方法时，确定测试数据应根据( )和指定的覆盖标准。 ( 正确A )
A.程序的内部逻辑 B.程序的复杂度 C.使用说明书 C.程序的功能
第9题：.软件的集成测试工作最好由（ ）承担，以提高集成测试的效果。 ( 正确C )
A.该软件的设计人员 B.该软件开发组的负责人 C.不属于该软件开发组的软件设计人员 D.该软件的编程人员
第10题：.软件的单元测试工作通常是由( )完成 ( 正确D )
A.该软件的设计人员 B.该软件开发组负责 C.不属于该软件开发组的软件设计人员 D.该软件的编程人员
第11题：与设计测试数据无关的文档是（ ） ( 正确C )
A.该软件的设计文档 B.需求规格说明 C.项目开发计划 D.源程序
第12题：如果某段代码简明、易懂并且注释准确没有歧义，那么我们说此代码具备 ( 正确B )
A.正确性 B.清晰性 C.规范性 D.一致性
第13题：软件单元测试的主要工作内容是 ( 正确D )
A.测试模块内部逻辑 B.测试模块内数据流向 C.测试模块单元的具体实现 D.以上全是
第14题：用来代替被测模块的子模块的是 ( 正确B )
A.驱动模块 B.桩模块 C.调用模块 D.配置模块
第15题：下列情况表明出错处理功能有错误和缺陷的是 ( 正确D )
A.显示的错误与实际遇到的错误不符 B.显示的错误信息难以理解 C.对异常处理的不得当 D.以上全部
第16题：下列测试用例设计方法可以用来为正向测试设计的是 ( 正确C )
A.错误猜测法 B.边界值分析 C.状态迁移测试 D.内部边界分析
第17题：造成测试覆盖率不达标的原因可能是 ( 正确D )
A.存在不可到达的代码或冗余的代码 B.测试用例不足 C.存在不可能的路径和条件 D)以上全部
第18题：为测试覆盖率指标完成测试用例设计的技术有 ( 正确D )
A.判断和条件测试 B.状态迁移 C.数据定义／使用测试 D.以上全部
第19题：自顶向下的增量式集成策略的最大成本是 ( 正确A )
A.桩模块的开发和维护 B.驱动模块的开发和维护 C.对被测模块的组装 D.对构件的分层和修改
第20题：有一个功能增强型的项目，其以前的产品已经很稳定，并且新增的项目只有少数几个构件被增加或修改，那么对该项目进行集成测试最适合采用的策略是 ( 正确C )
A.自项向下集成策略 B.自底向上集成策略 C.非增量集成策略 D.基于功能的集成策略
第21题：下列性质属于自顶向下集成和自底向上集成两种策略共同的优点是 ( 正确C )
A.都允许对底层模块行为的早期验证 B.集成方式都可采用深度优先策略和广度优先策略 C.都可以支持故障隔离 D)与软件设计顺序一致，都可以可设计并行进行
第22题：对下列产品进行测试，要优先考虑自底向上集成策略的是 ( 正确D )
A.采用契约式设计的产品 B.高层接口变化极为频繁的产品 C.底层接口比较稳定的产品 D.以上全部
第23题：基于调用图的集成测试方式有两种，即成对集成和相邻集成。其中相邻集成是针对 ( 正确B )
A.边 B.结点 C.模块 D.语句
第24题：下列邻居结点个数的表示方法不正确的是 ( 正确A )
A.内部结点个数+汇节点个数 B.直接前驱结点个数十直接后继结点的个数 C.结点总数-汇结点个数 D.内部结点个数+源结点个数
第25题：MM-路径是功能测试和结构性测试的一种混合。在标识方式上应该是 ( 正确B )
A.功能性的 B.结构性的 C.既是功能性的又是结构性的 D.不确定


1．软件验收测试的合格通过准则是：（ABCD）
A．软件需求分析说明书中定义的所有功能已全部实现，性能指标全部达到要求。
B．所有测试项没有残余一级、二级和三级错误。
C．立项审批表、需求分析文档、设计文档和编码实现一致。
D．验收测试工件齐全。
2．软件测试计划评审会需要哪些人员参加？（ABCD）
A．项目经理
B．SQA负责人
C．配置负责人
D．测试组
3．下列关于alpha测试的描述中正确的是：（AD）
A．alpha测试需要用户代表参加
B．alpha测试不需要用户代表参加
C．alpha测试是系统测试的一种
D．alpha测试是验收测试的一种
4．测试设计员的职责有：（BC）
A．制定测试计划
B．设计测试用例
C．设计测试过程、脚本
D．评估测试活动
5．软件实施活动的进入准则是：（ABC）
A．需求工件已经被基线化
B．详细设计工件已经被基线化
C．构架工件已经被基线化
D．项目阶段成果已经被基线化
1．软件验收测试的合格通过准则是：
（ABCD）
A． 软件需求分析说明书中定义的所有功能已全部实现，性能指标全部达到要
求。
B． 所有测试项没有残余一级、二级和三级错误。
C． 立项审批表、需求分析文档、设计文档和编码实现一致。
D． 验收测试工件齐全。
2．软件测试计划评审会需要哪些人员参加？（ABCD）
A．项目经理
B．SQA 负责人
C．配置负责人
D．测试组
3．下列关于 alpha 测试的描述中正确的是：
（AD）
A．alpha 测试需要用户代表参加
D．alpha 测试是验收测试的一种
4．测试设计员的职责有：
（BC）
B．设计测试用例
C．设计测试过程、脚本
5．软件实施活动的进入准则是：
（ABC）
A．需求工件已经被基线化
B．详细设计工件已经被基线化
C．构架工件已经被基线化
平安试题
单选题
1. 下列哪一个不是UML的动态图？ 【 D 】
A：活动图
B：序列图
C：状态图
D：用例图
题解：
类图，对象图，用例图，部署图，构件图，为静态图；
状态图，顺序图，活动图，协作图为动态图

2. 下面有关系统并发访问数估算数据那个最有效：【 A 】
A：高峰时段平均每秒请求数80
B：同时在线用户数100
C：高峰时段日处理业务量100000
D：平均每秒用户请求数50
题解：
并发用户数的计算公式
系统用户数：系统额定的用户数量，如一个OA系统，可能使用该系统的用户总数是2000个，那么这个数量，就是系统用户数
同时在线用户数：在一定的时间范围内，最大的同时在线用户数量想·
平均并发用户数的计算：C=nL / T
其中C是平均的并发用户数，n是平均每天访问用户数，L是一天内用户从登录到退出的平均时间（操作平均时间），T是考察时间长度（一天内多长时间有用户使用系统）
并发用户数峰值计算：C^约等于C + 3*根号C
其中C^是并发用户峰值，C是平均并发用户数，该公式遵循泊松分布理论

3. EJB组件的包文件的扩展名是： 【 A 】
A：.ear
B：.war
C：.jar
D：.rar
题解：
java所有的包都是用jar打的，只不过目标文件的扩展名不一样。
ear包：企业级应用，通常是EJB打成ear包。
war包:是做好一个web应用后，通常是网站，打成包部署到容器中。
jar包：通常是开发时要引用通用类，打成包便于存放管理。
.rar是用WinRar生成的压缩包。

4. 关于进程的叙述哪一项是不正确的 【 A 】
A：可同时执行的进程是指若干进程同时占用处理器
B：一个进程的工作没有完成之前，另一进程就可开始工作，则称这些进程具有并发性
C：一个进程独占处理器时其执行结果只取决于进程本身
D：进程并发执行时其执行结果与进程执行的相对速度有关
题解：
在操作系统的管理下，所有正在运行的进程轮流使用CPU，每个进程允许占用CPU的时间非常短（比如10毫秒），这样用户根本感觉不出来CPU是在轮流为多个进程服务，就好象所有的进程都在不间断地运行一样。微观上一个cpu在同一时间一次还是只能执行一个进程。

5. 在数据库中，产生数据不一致的根本原因是 【 A 】
A：数据冗余
B：未对数据进行完整性控制
C：数据存储量太大
D：没有严格保护数据
题解：
读出的数据是冗余数据中的任意一条，冗余数太多的话，得到两次相同数据的概率很小。

6. 评估下面的一组SQL语句:
CREATE TABLE dept (deptno NUMBER(2), dname VARCNAR2(14), 1oc VARCNAR2 (13)); ROLLBACK; DESCRIBE DEPT
下面关于该组语句的哪个描述是正确的？ 【 C 】
A：DESCRIBE DEPT语句将返回一个错误ORA-04043: object DEPT does not exist.
B：ROLLBACK语句将释放DEPT占用的存储空间
C：DESCRIBE DEPT语句将显示DEPT表的结构描述内容
D：DESCRIBE DEPT语句将只有在ROLLBACK之前引入一个COMMIT语句时，
才会显示DEPT表的结构描述内容
题解：
CREATE TABLE 时不需要COMMIT,
ROLLBACK是回滚的意思，主要用于事务中。
DESCRIBE命令用于查看特定表的详细设计信息

7. Oracle中VARCHAR2类型的最大长度是： 【 A 】
A：4000
B：3000
C：1000
D：2000

8. 在下面哪个场景中，索引将是最有用的？ 【 A 】
A：被索引的列作为表达式的一部分
B：被索引的列包含不同范围的值
C：被索引的列用于FROM子句
D：被索引的列被声明为NOT NULL

9. 下列四项中，不属于关系数据库特点的是 【 B 】
A：多用户访问
B：数据独立性高
C：数据共享性好
D：数据冗余小

10. 关于sleep() 和 wait() 的区别描述错误的是 【 B 】
A：wait是Object类的方法
B：sleep会释放对象锁
C：对此对象调用wait方法导致本线程放弃对象锁
D：sleep是线程类（Thread）的方法
题解：
sleep是线程类（Thread）的方法，导致此线程暂停执行指定时间，给执行机会给其他线程，但是监控状态依然保持，到时后会自动恢复。调用sleep不会释放对象锁。
wait是Object类的方法，对此对象调用wait方法导致本线程放弃对象锁，进入等待此对象的等待锁定池，只有针对此对象发出notify方法（或notifyAll）后本线程才进入对象锁定池准备获得对象锁进入运行状态。

11. 以下哪行代码会进行对象垃圾回收 【 B 】
1.public class MyClass{
2. public StringBuffer aMethod(){
3. StringBuffer sf = new 4.StringBuffer("Hello");
5. StringBuffer[] sf_arr = new StringBuffer[1];
6. sf_arr[0] = sf;
7. sf = null;
8. sf_arr[0] = null;
9. return sf;
}
}
A：第8行
B：第7行
C：第5行
D：第3行

12. 以下循环执行【 A 】次
public class Test{
public static void main(String[] args){
int x=-10,k=0;
while(++x<0){
k++;
}
System.out.println(k);
}
}
A：9
B：10
C：11
D：无限

13. 如果存在事务上下文，方法调用使用当前事务上下文，如果不存在，则不创建新的事务上下文。这种事务属性在EJB中应该配置为： 【 B 】
A：Never
B：Supports
C：Mandatory
D：Required

EJB事务属性可以是如下几个值之一：
◆Required ◆RequiresNew ◆Mandatory ◆NotSupported ◆Supports ◆Never
1、Required
如果客户端正运行在某个EJB事务中运行，且调用了EJB中的方法，则该方法在客户端的EJB事务中运行。如果客户端没有与某个EJB事务相关联，则容器在运行方法前先启动一个新EJB事务。Required属性适合绝大多数EJB事务，建议把它设置成默认的，至少在开发阶段。EJB事务属性是声明式的，后期也可以很容易的修改。
2、RequiresNew
如果客户端运行在某个EJB事务中，并且调用了EJB中的方法，则容器将采用如下操作：
（1） 挂起客户端EJB事务
（2） 启动一个新EJB事务
（3） 把调用委派给方法
（4） 方法执行完毕之后，回复客户端EJB事务
如果客户端没有与某个EJB事务相关联，则容器在运行方法前先启动一个新EJB事务。如果确保方法始终在一个新EJB事务中运行，应该使用EJB事物属性中的RequiresNew属性。
3、Mandatory
如果客户端运行在某个EJB事务中且调用了EJB中的方法，则该方法运行在客户端EJB事务中。如果客户端没有与某个EJB事务相关联，则容器抛出 TransactionRequiredException.如果EJB中的方法必须使用客户端的EJB事务，则应该使用EJB事物属性中的 Mandatory属性。
4、NotSupported
如果客户端在某个EJB事务中运行且调用了EJB中的方法，则容器先挂起客户端EJB事务，调用方法结束之后回复客户端EJB事务。如果客户端没有与某个 EJB事务相关联，则容器在运行方法前不启动EJB事务。对于不需要EJB事务的方法，可以考虑该属性。EJB事务需要一定的开销，EJB事物属性中的 NotSupported属性可以提高性能。
5、Supports
如果客户端运行在某个EJB事务中且调用了EJB中的方法，则该方法运行在客户端的EJB事务中。如果客户端没有与某个EJB事务关联，则容器运行方法前不启动新的EJB事务。
6、Never
如果客户端运行在某个EJB事务中且调用了EJB中的方法，则容器抛出RemoteException异常。如果客户端没有与某个EJB事务关联，则容器运行方法之前不启动新的EJB事务。

14. 在Java中，负责对字节代码解释执行的是 【 C 】
A：编译器
B：应用服务器
C：虚拟机
D：垃圾回收器

解题思路：本题考查Java语言的虚拟机。Java语言的执行模式是半编译半解释型。Java编写好的程序首先由编译器转换为标准字节代码，然后由Java虚拟机去解释执行。字节代码是一种二进制文件，但不能直接在操作系统上运行，可看作是虚拟机的机器码。虚拟机把字节码程序与各操作系统和硬件分开，使Java程序独立于平台。Java中的虚拟机是非常重要的概念，是Java语言的基础，掌握后有助于理解 Java语言的实现。

15. 在划分了等价类后，首先需要设计一个案例覆盖【 B 】有效等价类
A：等价类数量-1个
B：尽可能多的
C：2个
D：1个
然后从划分出的等价类中按以下三个原则设计测试用例:
①为每一个等价类规定一个唯一的编号.
②设计一个新的测试用例,使其尽可能多地覆盖尚未被覆盖地有效等价类,
重复这一步.直到所有的有效等价类都被覆盖为止.
③设计一个新的测试用例,使其仅覆盖一个尚未被覆盖的无效等价类,
重复这一步.直到所有的无效等价类都被覆盖为止.
16. 压力测试属于【 A 】阶段
A：系统测试
B：集成测试
C：用户验收测试
D：单元测试
测试阶段划分
单元测试
单元测试是对软件中的基本组成单位进行的测试，如一个模块、一个过程等等。它是软件动态测试的最基本的部分，也是最重要的部分 之一，其目的是检验软件基本组成单位的正确性。一个软件单元的正确性是相对于该单元的规约而言的。因此，单元测试以被测试单位的规约为基准。单元测试的主 要方法有控制流测试、数据流测试、排错测试、分域测试等等。集成测试
集成测试是在软件系统集成过程中所进行的测试，其主要目的是检查软件单位之间的接口是否正确。它根据集成测试计划，一边将模块 或其他软件单位组合成越来越大的系统，一边运行该系统，以分析所组成的系统是否正确，各组成部分是否合拍。集成测试的策略主要有自顶向下和自底向上两种。
系统测试
系统测试是对已经集成好的软件系统进行彻底的测试，以验证软件系统的正确性和性能等满足其规约所指定的要求，检查软件的行为和输 出是否正确并非一项简单的任务，它被称为测试的“先知者问题”。因此，系统测试应该按照测试计划进行，其输入、输出和其他动态运行行为应该与软件规约进行 对比。软件系统测试方法很多，主要有功能测试、性能测试、随机测试等等。
验收测试
验收测试旨在向软件的购买者展示该软件系统满足其用户的需求。它的测试数据通常是系统测试的测试数据的子集。所不同的是，验收测试常常有软件系统的购买者代表在现场，甚至是在软件安装使用的现场。这是软件在投入使用之前的最后测试。
回归测试
回归测试是在软件维护阶段，对软件进行修改之后进行的测试。其目的是检验对软件进行的修改是否正确。这里，修改的正确性有两重含义：一是所作的修改达到了预定目的，如错误得到改正，能够适应新的运行环境等等；二是不影响软件的其他功能的正确性。

17. 可靠性测试属于【 B 】阶段
A：用户验收测试
B：系统测试
C：集成测试
D：单元测试

18. 系统的测试对象不包括【 B 】
A：硬件系统
B：源程序
C：软件系统
D：文档

19. 下面哪个描述属于功能需求（ D ）
A：系统要求能够连续运行1000小时
B：系统应按J2EE架构进行设计
C：90%的响应时间小于2秒钟
D：随机选择5%的用户发送广告消息

20. 使用瀑布模型术语，在软件测试V模型中，对应“需求分析”的测试阶段是【 C 】
A：系统测试
B：集成测试
C：用户验收测试
D：单元测试


21. “均匀分散、齐整可比”这个描述与哪种测试方法一般知识有关：【 A 】
A：正交法
B：决策表
C：因果图
D：等价类分析法
正交设计的优点本质上来自“均匀分散，整齐可比”这两个特点
22. 以下状态迁移图（中括号表示状态，箭头表示边）：
[a]->[b],[b]->[c],[b]->[d],[c]->[d],[b]->[e]
则覆盖所有边至少需要【 A 】个案例
A：3
B：2
C：4
D：1

23. 测试系统长时间运行的表现，以期发现一些资源泄露等问题。
这种测试类型一般知识是（ D ）
A：强度测试
B：基准测试
C：负载测试
D：稳定性测试
强度测试检查程序对异常情况的抵抗能力；是检查系统在极限状态下运行的时候性能下降的幅度是否在允许的范围内
基准测试是指通过设计科学的测试方法、测试工具和测试系统，实现对一类测试对象的某项性能指标进行定量的和可对比的测试。
负载测试（Load testing），通过测试系统在资源超负荷情况下的表现，以发现设计上的错误或验证系统的负载能力。


24. 软件测试方法一般知识中，___称为功能测试，___测试称为结构测试【 D 】
A：灰盒测试 白盒测试
B：白盒 黑盒
C：黑盒测试 灰盒测试
D：黑盒测试 白盒测试

25. 项目中的技术风险是通常是通过【 D 】方法来缓解的
A：架构原型验证
B：技术文档
C：代码复审
D：单元测试

26. 软件设计的主要任务是设计软件的结构、模块和过程，
其中软件结构设计的主要任务是要确定 【 C 】
A：模块的具体功能
B：模块间的操作细节
C：模块间的组成关系
D：模块间的相似性

27. 文件系统与【 D 】密切相关，它们共同为用户使用文件提供方便
A：设备管理
B：作业管理
C：处理器管理
D：存储管理

28. 文件的存取方式与文件的物理结构有关，可能有如下的文件物理结构：
Ⅰ.顺序结构 Ⅱ.线性结构
Ⅲ.链接结构 Ⅳ.索引结构
而常见的文件物理结构是 【 B 】
A：Ⅰ、Ⅱ和Ⅳ
B：Ⅰ、Ⅲ和Ⅳ
C：Ⅰ、Ⅱ和Ⅲ
D：Ⅱ、Ⅲ和Ⅳ

29. 要想在你的视图上成功的执行查询需要做什么？【 C 】
A：基础表必须在同一个 用户模式中
B：基础表中必须有数据
C：只能在基础表中有select权限
D：在视图中需要有select权限

30. 数据库中只存放视图的? 【 C 】
A：对应的数据
B：操作
C：定义
D：限制


31. 在视图上不能完成的操作是【 A 】
A：在视图上定义新的基本表
B：在视图上定义新视图
C：更新视图
D：查询

32. "|DF|A3".split("|").length的结果是【 E 】
A：5
B：4
C：6
D：7
E：3

33. 下列关于Perl语言说法不正确的是【 A 】
A：Perl是脚本语言，因此运行速度较慢
B：Perl的脚本不支持动态加载
C：Perl比较擅长就是分析处理日志文件
D：Perl不需要编译器和链接器来运行代码

34. 下列代码哪几行会出错:
1) public void modify() {
2) int I, j, k;
3) I = 100;
4) while ( I > 0 ) {
5) j = I * 2;
6) System.out.println (" The value of j is " + j );
7) k = k + 1;
8) I--;
9) }
10) } 【 B 】
A：line 6
B：line 7
C：line 8
D：line 4

35. 关于finally块中的代码描述正确的是：【 C 】
A：异常发生时才被执行
B：如果try块后没有catch块时，finally块中的代码才会执行
C：finally块可以不写
D：异常没有发生时才被执行

36. 在面向对象数据模型中，子类不但可以从其超类中继承所有的属性和方法，而且还可以定义自己的属性和方法，这有利于实现【 A 】
A：可扩充性
B：可靠性
C：可移植性
D：安全性

37. 关于自动化测试与手工测试的比较，正确的是【 C 】
A：自动化测试能做的，手工测试不能做
B：手工测试能做的，自动化测试都能做
C：谁也不能完全代替对方
D：自动化测试能做的，手工测试都能做

38. 假设i是小于10的整型变量，则表达式 i-10+10==i 的运行结果【 D 】
A：等于-i
B：等于i
C：可能为真，也可能为假
D：一定为真

39. 运用正交设计法可以覆盖【 B 】
A：所有逻辑分支
B：所有因素之间的组合
C：任意两个因素之间的组合
D：所有数据流

40. 采用自顶向下集成的测试方法，需要编写【 B 】
A：客户端程序
B：驱动程序
C：条件桩
D：测试桩

41. 功能测试也叫做【 A 】
A：FVT
B：ST
C：PT
D：UAT

42. 使用录制模式产生的自动化脚本，与人工编写的脚本相比，后期维护成本通常【 B 】A：不能比较
B：较高
C：较低
D：没有差别

43. 某项测试有6个因素，均为布尔量，使用判定表方法，判定表有（ 64）

44. 软件测试的目的是【 D 】
A：发现软件开发中出现的错误
B：避免软件开发中出现的错误
C：修改软件中出现的错误
D：尽可能多的发现软件缺陷，并确保得以修复

45. 黑盒测试也称为功能测试。黑盒测试不能发现【 D 】
A：输入是否正确接收
B：终止性错误
C：界面是否有错误
D：是否存在冗余代码

46. 如下参数中不能用于进程间通信的是【 A 】
A：信件
B：信号量
C：口令
D：消息

47. 操作系统具有进程管理、存储管理、文件管理和设备管理的功能，在以下有关的描述中，哪一个是不正确的 【 C 】
A：存储管理主要是管理内存资源
B：文件管理可以有效地支持对文件的操作，解决文件共享、保密和保护问题
C：进程管理主要是对程序进行管理
D：设备管理是指计算机系统中除了CPU和内存以外的所有输入、输出设备的管理

48. 下列关于描述XML和HTML的差异不正确的是【 B 】
A：解析XML的性能优于HTML
B：XML与HTML互补
C：XML的语法比HTML严格
D：XML扩展性比HTML强

49. 下面是有关子类调用父类构造函数的描述正确的是【 D 】
A：创建子类对象时，先调用子类自己的构造函数，然后调用父类的构造函数
B：子类必须通过super关键字调用父类没有参数的构造函数
C：子类定义了自己的构造函数，就不会调用父类的构造函数
D：如果子类的构造函数没有通过super调用父类构造函数，那么子类会先调用父类不含参数的构造函数，再调用子类自己的构造函数

50. 下面（ ）是有效明确的功能需求【 B 】
A：两年内存储数据量不超过100G
B：登录后显示公告栏
C：界面美观大方
D：长时间操作后提醒用户休息

51. 以下哪一项测试是自动化测试无法胜任的：【 D 】
A：对图形验证码的测试
B：对数据流的测试
C：对业务流程的测试
D：对页面校验规则的测试

52. 一个对象有4个属性，每个属性有3种可能的值，如果要求对所有值的组合进行测试，则共有【 B 】
A：12
B：81
C：7
D：64

53. 软件测试术语“V&V”指【 D 】
A：Valid and Valuable
B：Version and Version
C：Valid and Victory
D：Verification and Validation

54. Loadrunner中哪个部件用来设置性能测试场景【 A 】
A：controller
B：virtual user generator
C：remote agent
D：analysis


55. 以下关于压力测试的描述，哪种描述是错误的？【 D 】
A：压力测试和并发行测试的联系和区别：并发行测试是一种测试手段，在压力测试中可以利用并发测试来进行压力测试。
B：压力测试一般通过模拟方法进行。
C：压力测试是指模拟巨大的工作负荷，以查看系统在峰值使用情况下是否可以正常运行。
D：压力测试是通过一次性大量增加系统负载来测试系统性能的变化，以此来获得系统性能提供的最大服务级别的测试。

56. 从下列叙述中，能够与需求分析、设计、编码相对应的软件测试阶段是【 B 】
A：单元测试、开发集成测试、系统测试
B：系统测试、开发集成测试、单元测试
C：开发集成测试、系统测试、单元测试
D：单元测试、系统测试、开发集成测试

57. 以下不能用作功能测试的自动化工具是【 B 】
A：WinRunner
B：ClearCase
C：QTP
D：Robot

58. 软件测试的对象包括____。【 D】
A：源程序和目标程序
B：目标程序和相关文档
C：源程序、目标程序、数据及相关文档
D：目标程序、操作系统和平台软件

59. 在UML提供的图中，【 A 】用于按时间顺序描述对象间的交互。
A：序列图
B：状态图
C：网络图
D：协作图


60. 在操作系统中，Wait(s)和Signal(s)操作是一种【 B 】
A：作业控制命令
B：低级进程通信原语
C：机器指令
D：系统调用命令


61. 下面列出的条目中，哪些是数据仓库的基本特征【 B 】。
Ⅰ.数据仓库是面向主题的
Ⅱ.数据仓库的数据是集成的
Ⅲ.数据仓库的数据是相对稳定的
Ⅳ.数据仓库的数据是反映历史变化的
A：Ⅰ、Ⅱ和Ⅳ
B：都是
C：Ⅱ、Ⅲ和Ⅳ
D：Ⅰ、Ⅱ和Ⅲ

62. 下列关于jsp和servlet描述不正确的是【 D 】
A：JSP侧重于视图
B：Servlet的应用逻辑是在Java文件中
C：JSP本质上是Servlet的简易方式
D：Servlet也可以嵌入在HTML里

63. 假设A类有如下定义，设a是A类的一个实例，下列哪些语句调用是错误的。
【 D 】【 A 】
class A {
int i;
static String s;
void method1() { }
static void method2() { }
} (该题为必答题)
A：A.method1();
B：A.method2()
C：System.out.println(a.i)；
D：a.method1();


64. 欲构造ArrayList类的一个实例，此类继承了List接口，下列哪个方法是正确的
【 B 】【 A 】
A：List myList=new ArrayList（）；
B：ArrayList myList=new List();
C：ArrayList myList=new Object（）;
D：List myList=new List（）;


65. 下列关于栈的叙述正确的是【 A 】
A：栈具有先进先出的特征
B：栈是非线性结构
C：栈具有后进先出的特征
D：栈是一种树状结构


66. 算法的时间复杂度是指【 B 】
A：算法程序的长度
B：执行算法程序所需要的时间
C：算法执行过程中所需要的基本运算次数
D：算法程序中的指令条数

67. 一个输入项的合法输入范围是“0-100的整数”，则边界值应该是【 D 】
A：0,50,100
B：-0.00001,0,100,100.00001
C：0,100
D：-1,0,100,101


68. 一个输入项的合法输入范围是“上”、“下”，则一个最小的等价类划分是：【 B 】
A：上，下，左，右
B：上，中，下
C：上，下
D：不适合用等价类


69. 一个输入项的合法输入范围是“当月日期”，则合理的测试边界值为：【 B 】
A：前月第一天，当月第一天，当月最后一天，下月最后一天
B：前月最后一天，当月第一天，当月最后一天，下月第一天
C：当月第一天，当月月中，当月最后一天
D：当月第一天，当月最后一天


70. 系统测试阶段一般不会关注【 C 】
A：系统安全性
B：系统性能
C：代码规范
D：系统功能

71. 一个对象有3个属性，每个属性有4种可能的值，如果要求对所有值的组合进行测试，则共有【 A 】
A：64
B：81
C：12
D：7

72. 对于软件的回归测试，下列描述正确的是。【 C 】
A：回归测试就是在集成测试之后进行的测试
B：回归测试就是在单元测试之后进行的测试
C：回归测试存在于软件测试的各个阶段
D：回归测试就是在系统测试之后进行的测试
题解：
回归测试作为软件生命周期的一个组成部分，在整个软件测试过程中占有很大的工作量比重，软件开发的各个阶段都会进行多次回归测试。在渐进和快速迭代开发中，新版本的连续发布使回归测试进行的更加频繁，而在极端编程方法中，更是要求每天都进行若干次回归测试。因此，通过选择正确的回归测试策略来改进回归测试的效率和有效性是非常有意义的。

多选题
1. 基于组件设计的系统特征包括【 ACD 】
A：封装
B：耦合
C：内聚
D：抽象

2. 可能与正在运行的进程无关的中断事件有【 ABE 】等
A：硬件故障
B：外部
C：访管
D：程序性
E：输入/输出

3. 在oracle数据库中，关于索引描述正确的是【 CD 】
A：需要对大数据类型创建索引
B：对于大表，索引能明显提高查询效率
C：在数据表上创建唯一约束，会自动生成唯一索引
D：我们最常用到的是B-Tree索引

4. 以下关于主键和唯一索引的区别有哪些是正确的？【 BD 】
A：主键：默认将是聚簇索引 唯一索引： 默认将是非聚簇索引
B：主键不能空，唯一索引可以为空
C：主键顺序为数据的物理顺序
D：主键每个表只能有一个，唯一索引可以多个

5. 下面哪些是DML语句 【 BD 】
A：MERGE…
B：UPDATE…
C：COMMIT…
D：DELETE…

6. 下面那条语句编译不会出现错误？【 ABCD 】【 B 】
A：float f = 123;
B：int x = (int)(1.23);
C：Boolean b = new Boolean("abcd");
D：byte b = 127;

7. 以下对于会话跟踪的描述,正确的是【 CD 】
A：客户浏览器禁用了cookie后，可以使用HttpServletResponse接口中的encodeURL（）方法对URL编码。但客户如果没有禁用Cookie，使用HttpServletResponse接口中的encodeURL（）方法对URL编码会出错
B：使用HttpServletResponse接口中的encodeURL（）方法对URL编码后，这个方法把以分号开头的字符串形式的路径加入到输入的URL中，如：jsessionid＝123456789
C：客户浏览器禁用了cookie后，在Servlet中的getSession方法就无法获得HttpSession对象了。
D：只要使用HttpServletResponse接口中的encodeURL（）方法对URL进行编码，Web应用程序的用户在浏览器中禁止cookie和不禁止cookie都是一样的

8. 黑盒一般知识可以发现以下类型的错误：【 BCD 】
A：性能错误
B：功能错误或遗漏
C：数据结构或外部数据库访问错误
D：界面错误

9. 常用的黑盒一般知识方法一般知识包含以下哪些类别？【 ACE 】
A：边界值分析
B：决策表法
C：因果图法
D：控制流测试法
E：等价类划分

10. 如下哪些工具可以作为缺陷管理工具:【 ABD 】
A：Bugzilla
B：ClearQuest
C：FindBugs
D：QualityCenter


11. 软件开发模型包括 【 ABC 】
A：迭代模型
B：螺旋模型
C：瀑布模型
D：扇形模型

12. 上下文关系图(context diagram)的作用是【 BD 】
A：定义业务规则
B：外部系统和人与系统之间交互的方式
C：定义系统的上下文和范围
D：概括与系统之间相互影响的重要的外部系统和人

13. 系统出现死锁必然出现以下情况 【 ABCD 】
A：不可抢夺资源
B：互斥使用资源
C：循环等待资源
D：占有并等待资源

14. 关于Oracle的LONG类型描述正确的是【 ABC 】
A：LONG类型主要用于不需要作字符串搜索的长串数据，如果要进行字符搜索就要用varchar2类型
B：LONG 数据类型中存储的是可变长字符串，最大长度限制是2GB
C：一个表中只能包含一个 LONG 类型的列
D：索引LONG类型列会明显提升查询效率

15. 在ORACLE的排序SQL，下面哪些写法是正确的。【 ABCD 】
A：Select distinct ename,sal from emp where deptno=30 order by deptno
B：Select * from emp where deptno=30 order by ename
C：Select 'Name: '|| ename ,sal from emp Where deptno=30 Order by 2,1
D：Select ename "Employee",sal "salary" from emp Order by "salary" desc , "Employee"，deptno

16. 关于JSP和SERVLET的描述正确的是：【 ACD 】
A：JSP能够访问Java API，具备SERVLET的全部优点
B：JSP页面只能在接受请求时动态编译成SERVLET
C：JSP技术构建在SERVLET上，它是支持HTML和XML页面制作的SERVLET技术的扩展
D：JSP页面支持嵌入javascript内容

17. 下面叙述哪些是正确的 【 BCD 】【 BC 】
A：java中，子类不可以访问父类的私有成员和受保护的成员
B：java接口包含函数声明和常量声明
C：在java中，可以用异常（Exception）来抛出一些并非错误的消息，但这样比直接从函数返回一个结果要花费更大的系统开销
D：java中的集合类（如Vector）可以用来存储任何类型的对象，且大小可以自动调整。但需要事先知道所存储对象的类型，才能正常使用

18. log4j中输入日志有哪些级别设置 【 ABCD 】
A：FATAL
B：WARN
C：DEBUG
D：INFO

19. 软件的可测试性包括以下方面【 AC 】
A：可观察性
B：可分解性
C：可确认性
D：可重用性
E：可控制性

20. 常用的白盒一般知识方法一般知识包含以下哪些类别？【 BCD 】
A：边界值覆盖
B：条件覆盖
C：路径覆盖
D：语句覆盖

21. 关于黑盒一般知识，说法正确的有：【 ABCD 】
A：黑盒测试把软件系统看成一个黑盒子，完全不考虑软件内部逻辑结构和处理过程
B：黑盒测试是基于规格和数据驱动的测试，它的依据是需求规格
C：黑盒主要关注被测软件的功能和非功能属性的实现
D：测试人员对被测产品的验证主要是根据其规格，验证其与规格的一致性

22. 下面哪些属于静态分析？【 ABD 】
A：程序复杂度分析
B：代码规则检查
C：内存泄漏检查
D：程序结构分析

23. 多线程技术具有哪些优越性 【 AC 】
A：通信简洁、信息传送速度快
B：创建速度快、系统开销小
C：并行性高
D：安全性高

24. The ThreadGroup class instance【 AB 】【 BD 】
A：Must contain threads of the same type
B：May contain other ThreadGroups
C：Provides support for ThreadDeath listeners
D：Allows threads to be manipulated as group

25. 下面关于继承的叙述哪些是正确的【 BC 】
A：在java中一个类不能同时继承一个类和实现一个接口
B：java的单一继承使代码更可靠
C：在java中只允许单一继承
D：在java中一个类只能实现一个接口

26. 关于软件测试，正确的描述包括:【 ABCD 】
A：要尽量避免测试自己编写的程序
B：测试前应该假设被测试的软件有错
C：测试是相对的，不能穷尽所有的测试，要据人力物力安排测试，选择好测试用例与测试方法。
D：测试要兼顾合理输入与不合理输入数据

27. 软件验收测试的合格通过准则是: 【 ABCD 】
A：立项审批表、需求分析文档、设计文档和编码实现一致
B：验收测试工件齐全 （测试计划，测试用例，测试日志，测试通知单，测试分析报告）
C：软件需求分析说明书中定义的所有功能已全部实现，性能指标全部达到要求
D：所有测试项没有残余一级、二级和三级错误

28. 关于等价类划分测试方法一般知识说法正确的是 【 AB 】
A：等价类划分可有两种不同的情况:有效等价类和无效等价类
B：测试某等价类的代表值就等于对这一类其它值的测试
C：等价类是指某个输入或输出域的子集合
D：同一等价类中输入数据对于揭露程序中的错误的作用有大有小

29. 涉及到’数字’的软件功能在设计测试用例时要优先考虑【 CD 】的测试方法一般知识
A：错误推测法
B：因果图方法
C：边界值分析法
D：等价类划分法

30. 某程序规定：“输入三个整数作为三边的边长构成三角形。当此三角形为一般三角形、等腰三角形及等边三角形时，分别做计算…”。
用等价类划分方法为该程序的构成三角形部分进行测试用例设计。下面那些等价类划分是合适的？ 【 ABC 】
A：整数
B：正数
C：非零数
D：函数
E：负数

31. 关于UML类图下列描述正确的是【 ABD 】【 ABC 】
A：关联是两个类之间的一条实线
B：类图表示各个对象的类型以及其间存在的各种静态关系
C：类间的两种重要关系就是关联与泛化
D：UML中抽象类是将名用斜体表示


32. 关于用例,描述正确的是【ABE 】
A：包括至少一个参与者
B：由一组场景组成,包括主流程和备选流程
C：定义一系列系统完成的活动
D：围绕一个完整功能块
E：描述参与者与系统之间的交互
F：产生的结果对某个参与者有价值

33. 在ORACLE中，下面哪些命令用来处理事务：【 BCD 】
A：set transaction
B：commit
C：savepoint
D：rollback

34. java中overload与overwrite的区别【 AC 】
A：overwrite 重写继承到的那个方法的代码，原方法被放弃。
B：overload 覆盖继承到的那个方法，那个方法仍然没有放弃。
C：overload 完全新的方法，参数和原方法不同。
D：overwrite 完全新的方法，参数和原方法不同。


35. 正则表达式的主要功能是【 ABC 】
A：替换代码
B：提取代码
C：查询代码
D：分割代码


36. 下面的说法正确的是：【 BCD 】
A：File类是输入/输出流类的子类。
B：Java中IO流的处理通常分为输入和输出两个部分。
C：InputStream与OutputStream类通常是用来处理字节流，也就是二进制文件。
D：Reader与Writer类是用来处理字符流，也就是纯文本文件。


37. 进行自动化测试的评估标准有 【 ABCD 】
A：可自动化率
B：测试进度要求
C：版本规模
D：版本稳定程度


38. 下面哪些属于动态分析？【 AD 】
A：系统压力测试
B：设计复审
C：程序数据流分析
D：代码覆盖率


39. 正则表达式 a*b*c 匹配【 ACD 】
A：ac
B：a*b*c
C：abc
D：bbc
</pre>
</div>

{% endblock content %}